earlybird-team5-api.duckdns.org {
	redir https://earlybird-team5.duckdns.org{uri} permanent
}

earlybird-team5.duckdns.org {
	handle /api/* {
		reverse_proxy gateway-server:8000
	}

	handle {
		reverse_proxy fe:80
	}
}
